name: E2E Tests

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  prtest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: npm install
      - name: Run tests
        run: JWT_SECRET=test npm run test:e2e
